.join {
    min-height: 314px;
    background: #CEC4BC;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #645C55;
            padding-top: 100px;
        }
        &_subtitle {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            color: #1B1A1A;
            width: 569px;
        }
        &_link {
            padding-top: 145px;
            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: #1B1A1A;
                text-decoration: none;
            }
        }
    }
}