@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .featured__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .featured__item {
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
    .team {
        padding-bottom: 30px;
    }
    .team__item_block {
        margin: 0 20px;
        margin-top: 20px;
    }
    .process__item_descr {
        width: 240px;
    }
    .main__item_descr {
        width: 400px;
    }
    .main__item {
        width: 50%;
        padding-left: 50px;
    }
    .join__item_subtitle {
        line-height: 53px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .about__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .about__item_second {
        margin-left: 0;
    }
    .about__item_title {
        margin-left: 0;
    }
    .sponsors {
        padding-bottom: 30px;
    }
    .sponsors__item_images_image {
        margin: 20px 0 !important;
        width: 100%;
    }
    .reeding__title_staircase {
    }
    .reeding__descr_staircase {
    }
    .featured {
        padding-bottom: 60px;
    }
    .featured__item {
        &:nth-child(2) {
            margin-top: 30px;
        }
    }
    .join__wrapper {
        flex-wrap: wrap;
    }
    .join__item {
        width: 100%;
    }
    .join__item_link {
        padding-top: 0;
        margin-top: 30px;
        text-align: center;
    }
    .header__menu {
        display: none;
    }
    .main__item_descr {
        width: 300px;
    }
    .main__item_subtitle {
        font-size: 53px;
    }
    .header__burger {
        position: relative;
        width: 50px;
        height: 20px;
        top: 3%;
        right: 0;
        display: block;
        transition: all .3s;
        z-index: 1000;
        &_active {
            span {
                display: none;
                transition: all .3s;
            }
            &::before {
                transform: rotate(-45deg);
                bottom: -9%;
                transition: all .3s;
            }
            &::after {
                transform: rotate(45deg);
                top: 9%;
                transition: all .3s;
            }
        }
        span {
            width: 100%;
            height: 4px;
            position: absolute;
            top: 9px;
            left: 0;
            transition: all .3s;
            background: #000;
        }
        &::before {
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;
            content: '';
            background: #000;
        }
        &::after {
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: -16%;
            left: 0;
            transition: all .3s;
            content: '';
            background: #000;
        }
    }
    .main__item_second {
        background-position: right;
    }
    .header__burger_list {
        position: fixed;
        left: -100%;
        top: 110px;
        width: 100%;
        height: 100%;
        background: #000;
        transition: all .3s ease-out;
        display: block;
        &_active {
            left: 0;
        }
        &_button {
            padding-left: 30px;
            text-align: center;
        }
        &_menu {
            text-align: center;
            padding-left: 30px;
            padding-top: 30px;
            &_type {
                margin: 20px 0;
                a {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 24px;
                    color: #ffff;
                    text-decoration: none;
                }
            }
        }
    }
}
.button--header--burger {
    border: 3px solid #fff;
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .main__item_subtitle {
        width: 250px;
        font-size: 38px;
    }
    .main__item_descr {
        width: 200px;
    }
    .main__item {
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .process__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .process__item {
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
    .sponsors__wrapper {
        flex-wrap: wrap;
    }
    .sponsors__item_images {
        margin-top: 30px;
        &_image {
            width: 50%;
            &:nth-child(2) {
                margin-top: 0px !important;
            }
        }
    }
    .reeding__title_staircase {
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        font-weight: 700;
        font-size: 20px;
    }
    .reeding__descr_staircase {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        font-weight: 700;
        font-size: 22px;
        color: #000;
        width: 400px;
    }
    .team__wrapper {
        flex-wrap: wrap;
    }
    .join__item_subtitle {
        width: 400px;
    }
    .join {
        padding-bottom: 30px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
    }
    .footer__item {
        width: 100%;
        text-align: center;
    }
    .footer {
        padding-bottom: 30px;
    }
    .footer__item_icons {
        padding-top: 0;
        margin-top: 50px;
        justify-content: center;
    }
    .featured__subtitle {
        width: 400px;
    }
    .reeding__descr {
        text-align: center;
        margin: 0 auto;
        padding-right: 0;
        font-weight: 500;
        font-size: 22px;
        color: #000;
        margin-top: 10px;
        width: 400px;
    }
    .reeding__title_marble {
        padding-right: 0;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }
    .reeding__title {
        font-weight: 700;
        font-size: 20px;
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 571px) {
    .container {
        max-width: 300px;
    }
    .main__item_second {
        display: none;
    }
    .main__item {
        width: 100%;
    }
    .about__item_descr {
        width: 300px;
    }
    .about {
        padding-bottom: 30px;
    }
    .reeding__descr {
        width: 250px;
    }
    .sponsors__item_descr {
        width: 300px;
    }
    .featured__subtitle {
        width: 250px;
    }
    .featured__item_image {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .featured__item_image_second .featured__item_image_mask {
        width: 300px;
        height: 365px;
    }
    .featured__item_image_text_button {
        margin-top: 200px;
    }
    .featured__item_image_second .featured__item_image_text {
        width: 260px;
        height: 324px;
    }
    .join__item_subtitle {
        width: 250px;
    }
    .main__item_title {
        padding-top: 70px;
    }
    .team__item_descr {
        width: 250px;
    }
}