.staircase {
    background: url(../../image/stairCaseBG.png) center center / cover no-repeat;
    min-height: 600px;
}

.reeding__title_staircase {
    text-align: left;
    padding-left: 60px;
}
.reeding__descr_staircase {
    text-align: left;
    margin-left: 0;
    padding-left: 60px;
}